@import url('https://fonts.googleapis.com/css?family=Bangers|Bubblegum+Sans');
html {
    font-family: 'Bubblegum Sans', cursive;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bangers', cursive;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: grey;
    font-weight: bold;
    /*
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    */
}

body {
    overflow: hidden;
    margin: 0;
}

#loader{
    z-index: 50;
    text-align: center;
    background: white;
    vertical-align: middle;
}

#loader img{
        margin-top: 20%;
}

/**********************************************************************/
/******************************* PLAYER UI ****************************/
/**********************************************************************/

#playerInfo{
    margin:15px;
    z-index:10;
}

/*TODO set background for ui*/
#playerInfoBg {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 80%;
    height: 170px;
    z-index: -1;
    transform: rotateZ(175deg);
    top: -130px;
    left: -100px;
    /*background: rgba(99, 0, 101, 0.8);*/
}

#playerInfoBg2 {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 85%;
    height: 110px;
    z-index: -1;
    transform: rotateZ(177deg);
    top: -70px;
    left: -100px;
    /*background: rgba(0, 0, 0, 0.8);*/
}

.playerInfo {
    display: inline-block;
    height: 30px;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-size: 20px;
    padding-right: 10px;
    min-width: 50px;
    padding-left: 20px;
    margin-left:15px;
}

#playerAmmo {
    background-image: url("../images/ammoValue.png");
    background-repeat: no-repeat;
}

#playerCoin {
    background-image: url("../images/coinValue.png");
    background-repeat: no-repeat;
}

#playerKill {
    background-image: url("../images/kills.png");
    background-repeat: no-repeat;
}

#playerHealthBg{
    box-shadow:0px 0px 35px grey;
    border:2px solid black;
    margin:10px 10px 5px 10px;
    height:10px;
    width:40%;
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#111111 78%,#131313 100%);
}

#playerHealth{
    height:100%;
    width:50%;

    -webkit-transition: width 0.5s;
    transition: width 0.5s;
}

#playerUltiBg{
    border:2px solid black;
    margin:5px 10px;
    height:5px;
    width:30%;
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#111111 78%,#131313 100%);
}

#playerUlti{
    height:100%;
    width:50%;
    background: -webkit-linear-gradient(top, #fcf297 0%,#fce519 45%,#f1da36 83%);

    -webkit-transition: width 0.5s;
    transition: width 0.5s;
}

.health.low{
    background: -webkit-linear-gradient(top, #961e1e 0%,#e87d7d 0%,#e50000 60%,#ea2c2c 100%);
}

.health.medium{
    background: -webkit-linear-gradient(top, #ffca85 0%,#ffa800 36%,#ff9100 100%); /* Chrome10-25,Safari5.1-6 */
}

.health.normal{
     background: -webkit-linear-gradient(top, #a1ff84 0%,#4cff00 36%,#00ff0c 100%);
}

/**********************************************************************/
/******************************* BOSS UI ****************************/
/**********************************************************************/

/*TODO set background for ui*/
#bossInfoBg {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 80%;
    height: 170px;
    z-index: -1;
    transform: rotateZ(186deg);
    top: -130px;
    right: -100px;
    /*background: rgba(99, 0, 101, 0.8);*/
}

#bossInfoBg2 {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 85%;
    height: 110px;
    z-index: -1;
    transform: rotateZ(184deg);
    top: -70px;
    right: -100px;
    /*background: rgba(0, 0, 0, 0.8);*/
}

#bossInfo{
    position:absolute;
    top:0;
    width:100%;
}

#bossHealthBg{
    box-shadow:0px 0px 35px grey;
    position:absolute;
    top:0;
    right:0;
    border:2px solid black;
    margin:15px 10px 5px 10px;
    height:10px;
    width:40%;
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#111111 78%,#131313 100%);
}

#bossHealth{
    height:100%;
    width:50%;

    -webkit-transition: width 0.5s;
    transition: width 0.5s;

    background: -webkit-linear-gradient(top, #961e1e 0%,#e87d7d 0%,#e50000 60%,#ea2c2c 100%);
}

#bossUltiBg{
    position:absolute;
    right:0;
    border:2px solid black;
    margin:35px 10px 5px 10px;
    height:5px;
    width:30%;
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#111111 78%,#131313 100%);
}

#bossUlti{
    height:100%;
    width:50%;

    -webkit-transition: width 0.5s;
    transition: width 0.5s;

    background: -webkit-linear-gradient(top, #fcf297 0%,#fce519 45%,#f1da36 83%);
}

/**********************************************************************/
/**********************      GAME OVER    *****************************/
/**********************************************************************/

.mainTitle {
    text-transform: uppercase;
    text-align: center;
    margin-top: 10%;
    font-family: 'Bangers', cursive;
    font-size: 5.5em;
    color: white;
    text-shadow: 1px 4px 11px black;
}

.fontRed {
    color: #d50000;
}

#gameOverKill {
    background: url("../images/kills.png") no-repeat;
    width: 50px;
}

#gameOverCoin {
    background: url("../images/coinValue.png") no-repeat;
    width: 50px;
}

.gameOverInfo {
    color:white;
    text-shadow: 1px 1px 1px black;
    height:40px;
    line-height: 40px;
    font-size: 1.3em;
    display: block;
    text-indent: 50px;
    margin: 10px auto;
}


/**********************************************************************/
/**********************      MAIN MENU    *****************************/
/**********************************************************************/

.button {
    width: auto;
    display: block;
    margin: auto;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 2.0em;
    cursor: pointer;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.button:hover {
    font-size: 2.2em;
}

.screen {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.50);
    width: 100%;
    height: 100%;
    z-index: 10;
}

#mainMenu {
    background: url('http://st.gde-fon.com/wallpapers_original/411421_pejzazh_risunok_yaponiya_dom_xram_ozero_derevya_ca_1680x1050_www.Gde-Fon.com.jpg');
    background-size: cover;
}

#mainMenu .container {
    width: 800px;
    margin: 7% auto;
}

#mainMenu .mainTitle {
    width: 400px;
    background: rgba(0, 0, 0, 0.50);
    background-image: url('../images/ninjaTitle.png');
    background-repeat: no-repeat;
    height: 400px;
    line-height: 650px;
    float: left;
    cursor: pointer;
}

#mainMenu .mainTitle:hover {
    background-image: url('../images/ninjaTitleHover.png');
}

#mainMenu .mainTitle span:hover {
    font-size: 1.3em;
}

#mainMenu .buttons {
    margin-top: 10%;
    width: 400px;
    height: 400px;
    float: left;
    background: none;
}

#mainMenu .button {
    height: 130px;
    line-height: 130px;
    background: rgba(0, 0, 0, 0.70);
    margin-left: 10px;
}

#mainMenu .button:hover {
    background: rgba(0, 0, 0, 0.60);
    background-position: right;
    background-repeat: no-repeat;
}

#mainMenu #startButton:hover {
    background-image: url(../images/ninjaButtonStart.png);
}

#mainMenu #profileButton:hover {
    background-image: url(../images/ninjaButtonProfile.png);
}

#mainMenu #optionsButton:hover {
    background-image: url(../images/ninjaButtonOptions.png);
}

#mainMenu .button:nth-child(n+2) {
    margin-top: 5px;
}

#mainMenu .editor {
    cursor: pointer;
    position: absolute;
    background: #d50000;
    padding: 10px;
    color: white;
    text-shadow: 1px 1px 1px black;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    bottom: -105px;
    right: 20px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

#mainMenu .editor:before {
    content: "";
    position: absolute;
    border-bottom: 25px solid rgb(213, 0, 0);
    border-right: 51px solid transparent;
    border-left: 51px solid transparent;
    right: 0;
    top: -25px;
}

#mainMenu .editor:hover {
    bottom: 0px;
}

#mainMenu .editor .logo img {
    width: 80px;
}

/**********************************************************************/
/**********************      MY PROFILE   *****************************/
/**********************************************************************/
#bonusCards{

}

#bonusCards .card{
    color:white;
    margin:10px;
    width:150px;
    height:200px;
    padding:10px;
    border-radius:3px;
    box-shadow : 1px 1px 15px black;
    background:rgb(47, 47, 47);
    cursor: -webkit-grab;
}

#bonusCards .title{
    text-transform:uppercase;
}

#bonusCards .card .illustration{
    text-align:center;
    padding:10px 0px;
}

#bonusCards .card .illustration img{
    width:100px;
}
