@import url('https://fonts.googleapis.com/css?family=Bangers|Bubblegum+Sans');
html {
    font-family: 'Bubblegum Sans', cursive;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bangers', cursive;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: grey;
    font-weight: bold;
    /*
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    */
}

body {
    overflow: hidden;
    margin: 0;
}

#loader{
    z-index: 50;
    text-align: center;
    background: white;
    vertical-align: middle;
}

#loader img{
        margin-top: 20%;
}

/**********************************************************************/
/******************************* PLAYER UI ****************************/
/**********************************************************************/

#playerInfo{
    margin:15px;
    z-index:10;
}

.playerInfo {
    display: inline-block;
    height: 20px;
    font-size: 13px;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-size: 20px;
    padding-right: 10px;
    min-width: 50px;
    padding-left: 20px;
    margin-left:0px;
}

#playerItemInfo{
    margin-left:100px;
    margin-top:-40px;
    width:400px;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0) 70%);
}

#playerAmmo {
    background-image: url("../images/ammoValue.png");
    background-repeat: no-repeat;
}

#playerCoin {
    background-image: url("../images/coinValue.png");
    background-repeat: no-repeat;
}

#playerKill {
    background-image: url("../images/kills.png");
    background-repeat: no-repeat;
}

.health.low{
    background: -webkit-linear-gradient(top, #961e1e 0%,#e87d7d 0%,#e50000 60%,#ea2c2c 100%);
}

.health.medium{
    background: -webkit-linear-gradient(top, #ffca85 0%,#ffa800 36%,#ff9100 100%); /* Chrome10-25,Safari5.1-6 */
}

.health.normal{
     background: -webkit-linear-gradient(top, #a1ff84 0%,#4cff00 36%,#00ff0c 100%);
}

.health.disabled{
    background: -webkit-linear-gradient(top, #888888 0%,#888888 45%,#888888 83%);
}

.health.enabled{
    background: -webkit-linear-gradient(top, #fcf297 0%,#fce519 45%,#f1da36 83%);
}

#playerInfoContainer .pieBg{
    position:absolute;
    margin-top:-5px;
    margin-left:-5px;
    width:90px;
    height:90px;
    -moz-border-radius:45px;
    -webkit-border-radius:45px;
    box-shadow:0px 0px 30px black;
     background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
}
#playerInfoContainer .pie {
    background: linear-gradient(to bottom, #b7b7b7 1%,#3a3a3a 100%);
    width:80px;
    height:80px;
    -moz-border-radius:40px;
    -webkit-border-radius:40px;
    border-radius:40px;
    position:relative;

}
#playerInfoContainer  .clip1 {
    position:absolute;
    top:0;
    left:0;
    width:80px;
    height:80px;
    clip:rect(0px, 80px, 80px, 40px);
}
#playerInfoContainer  .slice1 {
    position:absolute;
    width:80px;
    height:80px;
    clip:rect(0px, 40px, 80px, 0px);
    -moz-border-radius:40px;
    -webkit-border-radius:40px;
    border-radius:40px;
       background: #ffee00;
    -moz-transform:rotate(0);
    -webkit-transform:rotate(0);
    -o-transform:rotate(0);
    transform:rotate(0);
  -moz-transition: all 0.3s ease;
-webkit-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
#playerInfoContainer  .clip2 {
    position:absolute;
    top:0;
    left:0;
    width:80px;
    height:80px;
    clip:rect(0, 40px, 80px, 0px);
}
#playerInfoContainer .slice2 {
    position:absolute;
    width:80px;
    height:80px;
    clip:rect(0px, 80px, 80px, 40px);
    -moz-border-radius:40px;
    -webkit-border-radius:40px;
    border-radius:40px;
   background: #ffee00;
    -moz-transform:rotate(0);
    -webkit-transform:rotate(0);
    -o-transform:rotate(0);
    transform:rotate(0);

-moz-transition: all 0.3s ease;
-webkit-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
#playerInfoContainer .status {
    position:absolute;
    height:66px;
    width:66px;
    margin-top:7px;
    margin-left:7px;
    line-height:60px;
    text-align:center;
    font-size:60px;
    background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
    border-radius:50%;
    box-shadow: -1px 0px 10px 3px rgba(0, 0, 0, 0.5) inset;
}

#playerInfoContainer .status img{
    padding:7px;
    height:50px;
    z-index:15;

    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

#playerInfoContainer .status.disabled img{
    opacity:0.3;
}

#playerInfoContainer #health{
  width:50%;
  max-width:510px;
  height:19px;
 background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
 box-shadow:0px 0px 5px black;
  position:absolute;
  top:30px;
  left:70px;
  z-index:0;
  -webkit-transform:skew(-50deg);
  -moz-transform:skew(-50deg);
  -o-transform:skew(-50deg);
  tranform:skew(-50deg);
  padding-right:10px;
}

#playerInfoContainer #currentHealth{
    position:absolute;
  width:50%;
  max-width:500px;
  height:12px;
  margin:3px;
  margin-left:22x;
  z-index:12;
}

#playerInfoContainer #currentHealthBg{
position:absolute;
  width:100%;
  max-width:500px;
  height:12px;
  margin:3px;
  z-index:10;
  top:0;
  background: linear-gradient(to bottom, #b7b7b7 1%,#3a3a3a 100%);
}



/**********************************************************************/
/**********************      GAME OVER    *****************************/
/**********************************************************************/

.mainTitle {
    text-transform: uppercase;
    text-align: center;
    margin-top: 10%;
    font-family: 'Bangers', cursive;
    font-size: 5.5em;
    color: white;
    text-shadow: 1px 4px 11px black;
}

.fontRed {
    color: #d50000;
}

#gameOverKill {
    background: url("../images/kills.png") no-repeat;
    width: 50px;
}

#gameOverCoin {
    background: url("../images/coinValue.png") no-repeat;
    width: 50px;
}

.gameOverInfo {
    color:white;
    text-shadow: 1px 1px 1px black;
    height:40px;
    line-height: 40px;
    font-size: 1.3em;
    display: block;
    text-indent: 50px;
    margin: 10px auto;
}


/**********************************************************************/
/**********************      MAIN MENU    *****************************/
/**********************************************************************/

.button {
    width: auto;
    display: block;
    margin: auto;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 2.0em;
    cursor: pointer;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.button:hover {
    font-size: 2.2em;
}

.screen {
    position: absolute;
    top: 0;
    left: 0;
    //background: rgba(0, 0, 0, 0.50);
    width: 100%;
    height: 100%;
    z-index: 10;
}

#mainMenu {
    background: url('http://st.gde-fon.com/wallpapers_original/411421_pejzazh_risunok_yaponiya_dom_xram_ozero_derevya_ca_1680x1050_www.Gde-Fon.com.jpg');
    background-size: cover;
}

#mainMenu .container {
    width: 800px;
    margin: 7% auto;
}

#mainMenu .mainTitle {
    width: 400px;
    background: rgba(0, 0, 0, 0.50);
    background-image: url('../images/ninjaTitle.png');
    background-repeat: no-repeat;
    height: 400px;
    line-height: 650px;
    float: left;
    cursor: pointer;
}

#mainMenu .mainTitle:hover {
    background-image: url('../images/ninjaTitleHover.png');
}

#mainMenu .mainTitle span:hover {
    font-size: 1.3em;
}

#mainMenu .buttons {
    margin-top: 10%;
    width: 400px;
    height: 400px;
    float: left;
    background: none;
}

#mainMenu .button {
    height: 130px;
    line-height: 130px;
    background: rgba(0, 0, 0, 0.70);
    margin-left: 10px;
}

#mainMenu .button:hover {
    background: rgba(0, 0, 0, 0.60);
    background-position: right;
    background-repeat: no-repeat;
}

#mainMenu #startButton:hover {
    background-image: url(../images/ninjaButtonStart.png);
}

#mainMenu #profileButton:hover {
    background-image: url(../images/ninjaButtonProfile.png);
}

#mainMenu #optionsButton:hover {
    background-image: url(../images/ninjaButtonOptions.png);
}

#mainMenu .button:nth-child(n+2) {
    margin-top: 5px;
}

#mainMenu .editor {
    cursor: pointer;
    position: absolute;
    background: #d50000;
    padding: 10px;
    color: white;
    text-shadow: 1px 1px 1px black;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    bottom: -105px;
    right: 20px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

#mainMenu .editor:before {
    content: "";
    position: absolute;
    border-bottom: 25px solid rgb(213, 0, 0);
    border-right: 51px solid transparent;
    border-left: 51px solid transparent;
    right: 0;
    top: -25px;
}

#mainMenu .editor:hover {
    bottom: 0px;
}

#mainMenu .editor .logo img {
    width: 80px;
}

/**********************************************************************/
/**********************      MY PROFILE   *****************************/
/**********************************************************************/
#bonusCards{

}

#bonusCards .card{
    position:absolute;
    bottom:10px;;
    left:100px;
    color:white;
    margin:10px;
    width:150px;
    height:200px;
    padding:10px;
    border-radius:3px;
    box-shadow : 1px 1px 15px black;
    background:rgb(47, 47, 47);
    cursor: -webkit-grab;
    z-index:10;

}

#bonusCards .title{
    text-transform:uppercase;
}

#bonusCards .card .illustration{
    text-align:center;
    padding:10px 0px;
}

#bonusCards .card .illustration img{
    width:100px;
}

#selectedCards{
    width:600px;
    height:240px;
    margin: 10px auto;
}

#selectedCards .selectedCard{
    width:149px;
    height:199px;
    padding:10px;
    background:grey;
    margin:10px 14px;
    float:left;
    border:1px dotted white;
}
